service firebase.storage {
  match /b/telolet-664db.appspot.com/o {
  	match /public {
    	allow read: if true;
      allow write: if false;
    }
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
